# Using SQL in Jupyter

### Resources:

* <a href="https://github.com/catherinedevlin/ipython-sql">ipython-sql magic command</a>
* <a href="https://www.postgresql.org/">PostgreSQL</a>
* <a href="https://www.cyberciti.biz/faq/howto-add-postgresql-user-account/">Setting up a PostgreSQL database</a>

## Step 1) Installation

1) Install PostgreSQL on your computer

2) Setup a user and database with PostgreSQL (see resources for help)

3) Install ipython-sql package on your computer: `pip install ipython-sql`

4) Open a Jupyter notebook

<br>

## Step 2) Notebook initialization

**With the above installed and an open Jupyter notebook, execute these two cells:**

In [1]:
%load_ext sql

'Connected: david@tester'

Notice the formatting of the next cell. 

Replace `username`, `password`, and `database` with your specific details as setup in step 2 above.

In [ ]:
#%sql postgresql://david:hithere@localhost/tester
%sql postgresql://username:password@localhost/database

## Step 3) Start making queries

**First let's make a table**

In [4]:
%%sql
            
CREATE TABLE some_table(
    Col1 int,
    Col2 int
);

Done.

[]

**Next let's put a row of data in our table**

In [5]:
%%sql

INSERT INTO some_table (Col1, Col2)
VALUES ('3', '4');

1 rows affected.

[]

**Lastly let's pull our data to see it**

In [4]:
%%sql

SELECT * FROM some_table

 * postgresql://david:***@localhost/tester
1 rows affected.

[(3, 4)]

And that's it! From here you can make alter, destroy any tables you wish. You can connect to different databases. You can query away on whatever tables you want. The SQL world is your oyster!